/*
   Import partials below
*/

@import './normalize';
@import './variables';
@import './typography';
@import './fonts';
@import './components/header';
// @import './components/key-questions';
// @import './components/consultation';
@import './components/who-we-are';
@import './components/footer';

* {
  box-sizing: border-box;
  box-sizing: border-box;
}

*,
* ::before,
*::after {
  margin: 0;
  padding: 0;
}

