.footer {
  min-height: 479px;
  width: 100%;
  padding-top: 60px;
  background-image: url(../images/Background/img-bg-footer-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
  margin: 0 auto;

  &__title {
    @include font-acr(20px, 700);
    color: $color-select-text;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 300px;
  }

  &__line {
    text-align: center;
    margin: 0 auto;
  }

  &__text {
    @extend %acrom;
    color: $color-light;
    padding: 16px 14px;
  }
}

@media (min-width: 748px) {
  .footer {
    min-height: 457px;
    background-image: url(../images/Background/img-bg-footer-tablet.jpg);
  }

  .footer__title {
    @include font-acr(30px, 700);
    padding-top: 90px;
    margin-bottom: 285px;
  }

  .footer__line {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
  }

  .footer__logo-wrp {
    text-align: left;
  }

  .footer__text {
    @include font-acr(18px, 400);
    text-align: left;
  }
}

@media (min-width: 960px) {
  .footer {
    min-height: 1051px;
    background-image: url(../images/Background/img-bg-footer-desktop.jpg);
  }

  .footer__title {
    padding-top: 260px;
    margin-bottom: 630px;
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .footer {
    background-image: url(../images/Background/img-bg-footer-mobile@2x.jpg);
  }
}

@media (device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .footer {
    background-image: url(../images/Background/img-bg-footer-tablet@2x.jpg);
  }
}

@media (max-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .footer {
    background-image: url(../images/Background/img-bg-footer-desktop@2x.jpg);
  }
}
