.key-questions {
display: flex;
}

&__title {
    
        font-size: 20px;
        font-family: "Acrom";
        color: rgb(34, 34, 34);
        font-weight: bold;
        line-height: 1.5;
        text-align: left;
        
}